/* crimson-text-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/crimson-text-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/crimson-text-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/crimson-text-v19-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/crimson-text-v19-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/crimson-text-v19-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/crimson-text-v19-latin-regular.svg#CrimsonText') format('svg'); /* Legacy iOS */
  }
  /* crimson-text-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/crimson-text-v19-latin-italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/crimson-text-v19-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/crimson-text-v19-latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/crimson-text-v19-latin-italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/crimson-text-v19-latin-italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/crimson-text-v19-latin-italic.svg#CrimsonText') format('svg'); /* Legacy iOS */
  }
  /* crimson-text-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/crimson-text-v19-latin-600.eot'); /* IE9 Compat Modes */
    src: url('../fonts/crimson-text-v19-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/crimson-text-v19-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/crimson-text-v19-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/crimson-text-v19-latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/crimson-text-v19-latin-600.svg#CrimsonText') format('svg'); /* Legacy iOS */
  }
  /* crimson-text-600italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/crimson-text-v19-latin-600italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/crimson-text-v19-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/crimson-text-v19-latin-600italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/crimson-text-v19-latin-600italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/crimson-text-v19-latin-600italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/crimson-text-v19-latin-600italic.svg#CrimsonText') format('svg'); /* Legacy iOS */
  }
  /* crimson-text-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/crimson-text-v19-latin-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/crimson-text-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/crimson-text-v19-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/crimson-text-v19-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/crimson-text-v19-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/crimson-text-v19-latin-700.svg#CrimsonText') format('svg'); /* Legacy iOS */
  }
  /* crimson-text-700italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/crimson-text-v19-latin-700italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/crimson-text-v19-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/crimson-text-v19-latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/crimson-text-v19-latin-700italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/crimson-text-v19-latin-700italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/crimson-text-v19-latin-700italic.svg#CrimsonText') format('svg'); /* Legacy iOS */
  }


  @font-face {
    font-family: oswald;
    src: url("../fonts/Oswald-Bold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: oswald;
    src: url("../fonts/Oswald-ExtraLight.ttf");
    font-weight: 200;
  }

  @font-face {
    font-family: oswald;
    src: url("../fonts/Oswald-Light.ttf");
    font-weight: 300;
  }

  @font-face {
    font-family: oswald;
    src: url("../fonts/Oswald-Medium.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: oswald;
    src: url("../fonts/Oswald-SemiBold.ttf");
    font-weight: 600;
  }

  @font-face {
    font-family: oswald;
    src: url("../fonts/Oswald-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: muli-sans-serif;
    src: url("../fonts/Muli-Bold.ttf");
    font-weight: 700;
  }


  @font-face {
    font-family: muli-sans-serif;
    src: url("../fonts/Muli-ExtraLight.ttf");
    font-weight: 200;
  }
  

  @font-face {
    font-family: muli-sans-serif;
    src: url("../fonts/Muli-Light.ttf");
    font-weight: 300;
  }



  @font-face {
    font-family: muli-sans-serif;
    src: url("../fonts/Muli-SemiBold.ttf");
    font-weight: 600;

  }

  @font-face {
    font-family: muli-sans-serif;
    src: url("../fonts/Muli.ttf");
    font-weight: 400;
  }

