/* =======================Variable======================= */

:root{
    --head-font: "oswald";
    --child-font: " muli-sans-serif;"
     --white:#fff;
    --black:#101828;
    --p-color:#878787;
    --primary:#59815b;
    --white:#fff;
}
/* ==========================Common-Css============================ */

*{
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Crimson Text';;
}

img{
    max-width: 100%;
    display: block;

}

input:focus{
    outline: none;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    width: 8.33%
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

/* ===========================Slider=================================== */
.slider{
    background-image: url("../images/pic1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    block-size: cover;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1000;
    position: relative;
    background-position: center;
    background-attachment: fixed;  
}
.slider .row .col-6 h1{
    position: absolute;
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    font-family: var(--head-font);
    color: var(--white);
    text-transform: uppercase;
    justify-content: center;
    padding-top: 170px;
    position: fixed;
}
.slider .col-6 .btn a{
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-family: var(--head-font);
    font-size: 18px;
    color: var(--white);
    background-color: var(--primary);
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 30px;
    position: absolute;
    bottom: 230px;
    display: flex;

}
.slider .btn i{
    margin-left: 10px;
}

.slider .btn a:hover{
    background-color: var(--primary);
    color: var(--primary);
}
.slider .btn span:hover{
    transition: all 0.3s;
    color: var(--black);   
}
/* ============================logo=========================== */
.logo .col-12 img{
    cursor: pointer;
    padding-left: 45%;
    height: 180px;
}
.logo .img{
    margin-top: 250px -1px;
}
/* ========================================header===================*/
header{
    padding: 30px 0 40px;
    position:relative;
}

header .row{
    align-items: center;
    justify-content: space-between;
}

header .logo img{
    width: 80px;
}

header .row .col-3:last-child{
    display: flex;
    justify-content: end;
}

header .navbar{
    display: flex;
    list-style: none;
    padding: 0;
}
.container .col-3:first-child a{
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--head-font);
    text-transform: uppercase;
}
.container .col-3:first-child i{
    margin-right: 10px;
    font-size: 22px;
}
.container .col-3:first-child a:hover{
    color: var(--primary);
}
header .col-6 .navbar li:hover{
    color: var(--primary);
}

header .navbar li{
    padding: 0 20px;
}

header .navbar li a,
header .col-3 .nav-contact{
    color: var(--h-color);
    text-transform: uppercase;
     font-weight: 600;
     cursor: pointer;
     line-height: 28px;
     font-size: 20px;
     font-family: var(--head-font);
}
header .col-3:last-child a:hover{
    color: var(--primary);
}
header .col-6 .navbar li:first-child a{
        background-color: rgb(219, 219, 200);
        color: var(--primary);
}

/* ===================================blogger========================== */
.blogger{
    background-image: url("../images/b.jpg");
    height: 100vh;
    width: 100%;
    block-size: cover;
    position: relative;
}
.blogger .col-6 h1{
    font-size: 60px;
    font-family: var(--head-font);
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1px;
    margin-bottom: 14px;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    padding-top: 200px;
}
.blogger .col-6 p{
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 15px;
    color: var(--p-color);
    font-family: var(--child-font);
}
.blogger .col-6 button{
    font-size: 20px;
    font-weight: 700;
    font-family: var(--head-font);
    line-height: 35px;
    text-align: left;
    text-transform: uppercase;
    border: 1px solid var(--primary);   
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
    margin-top: 40px;
    padding: 5px 20px;
}
.blogger .col-6 button:hover{
    transition: all 0.3s;
    background-color:var(--white);
    color: var(--black);

}
.blogger .col-6 img{
    cursor: pointer;
    z-index: 10;
    position: relative;
}
.blogger .blog-img img{
    height: 600px;
    width: 500px;
    display: flex;
    margin-left: 90px;
    margin-top: 30px;
}
.col-6 .blog .blog-img{
    position: relative;
}
.blogger .col-6 .box{
    margin: 0;
    box-sizing: border-box;
    height: 150px;
    width: 300px;
    background-color: var(--white);
    position: absolute;
    z-index: 34;
    top: 72%;
    right: 10%;
}
.blogger .col-6 .blog .box h3{
    cursor: pointer;
    font-size: 16px;
    line-height: 26px;
    position: absolute;
    z-index: 10;
    font-family: var(--child-font);
    margin: 25px;
    left: 50px;
    font-style: italic;
    text-transform: uppercase;
    color: var(--p-color);
}
.blogger .col-6 .blog .box h2{
    margin: 50px;
    font-family: var(--head-font);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
/* ==============================vacation============================= */
.vacation{
    background-image: url("../images/b.jpg");
    position: relative;
}
.vacation .main span{
    font-size: 21px;
    font-style: italic;
    color: var(--p-color);
    display: flex;
    line-height: 26px;
    /* padding: 0px 43%; */
    margin-bottom: 10px;
    display: block;
}
.vacation .main h1{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 56px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--head-font);
}
.vacation .row{
    margin: 0 50px;
}
.vacation .col-4{
    padding: 0 15px;
}
.vacation .v-card{
    margin-top: 0 90px;
    margin-bottom: 0 90px;
}
.vacation .v-card .vacation-img{
    height: 450px;
    position: relative;
    /*margin: 10px; */
}
.vacation .v-card .vacation-img img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.vacation .v-card .vacation-img h3{
    position: absolute;
    top: 55px;
    left: 0;
    background-color: var(--white);
    backdrop-filter: blur(10px);
    line-height: 32px;
    letter-spacing: 1px;
    cursor: pointer;
    font-style: italic;
    font-size: 22px;
    color: var(--p-color);
    transition: all 0.4s;
    font-weight: 400;
}
.vacation .v-card .vacation-img p:hover{
    color: var(--primary);
}
.vacation .row .vacation-data h4{
    color: var(--p-color);
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    position: relative;
    text-align: left;
    line-height: 22px;
    margin: 20px 0px 10px;
    cursor: pointer;
    margin-top: 30px;   
}
.vacation .row .vacation-data p{
    font-size: 32px;
    font-family: var(--head-font);
    font-weight: 700;
    cursor: pointer;
    line-height: 35px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -1px;
   margin-bottom: 50px;
}
.vacation .row .vacation-data p:hover{
    text-decoration: underline;
}
.vacation .vacation-img .xyz{
       height: 500px;
}
/* ========================================destination================================= */
.destination{
    background-image: url("../images/b-2.jpg");
    height: 35vh;
    block-size: cover;
    position: relative;
    margin-left: 10%;
}
.destination .des-card .des-img img{
      height: 90px;
      width: 90px;
      cursor: pointer;
}
.destination .des-card .des-img h3{
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--head-font);
    line-height: 26px;
    cursor: pointer;
    position: absolute;   
}
.destination .des-card img:hover{
    background-color: var(--primary);
    transition: all 0,3s;
}
.destination .des-card .des-img p{
    font-size: 20px;
    color: var(--p-color);
    margin-top: 18px;
}
/* =======================================spain========================================= */
.spain{
    padding-top: 15px;
    padding-left: 15px;
    line-height: 26px;
    font-size: 16px;
    padding-bottom: 60px;
    position: relative;
}
.spain .source h2{
    position: absolute;
    top: 130px;
    right: 640px;
    height: 50px;
    width: 60px;
    color: var(--white);
    text-align: center; 
    background-color: var(--primary);
    cursor: pointer;
    font-size: 40px;
    padding-top: 10px;
}
.spain .source h3{
    position: absolute;
    bottom: 180px;
    left: 700px;
    height: 50px;
    width: 60px;
    color: var(--white);
    text-align: center; 
    background-color: var(--primary);
    cursor: pointer;
    font-size: 40px;
    padding-top: 10px;
}
.spain .source p{
    position: absolute;
    cursor: pointer;
    left: 180px;
    top: 125px;
}
/* =====================================travel-tips==================================== */
.travel-tips .aside span{
    font-size: 22px;
    font-style: italic;
    line-height: 26px;
    color: var(--p-color);
    margin-left: 450px;
    text-align: center;
}
.travel-tips .aside h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 56px;
    margin-bottom: 14px;
    text-transform: uppercase;
    font-family: var(--head-font);
    text-align: center;
}
.travel-tips .col-6 .travel .tips-img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    cursor: pointer;
    padding-left: 0px;
}
.travel-tips .col-6 .travel .tips-img img:hover{
    transition: all 0.2s;
}
.travel-tips .col-6 .travel .tips-img{
    position: relative;
}
.travel-tips{
    margin-bottom: 20px;
}
.travel-tips .tips-img{
    margin-left: 30px;
}
.travel-tips .col-6 .travel .tips-img h3{
    position: absolute;
    top: 10px;
    left: -20px;
    background-color: var(--white);
    font-family: var(--child-font);
    font-style: italic;
    font-weight: 400;
    color: var(--p-color);
    padding: 5px 25px;
    cursor: pointer;
    font-size: 20px;   
}
.travel-tips .col-6 .travel .tips-img h3:hover{
    transition: all 0.3s;
    color: var(--primary);
}
.travel-tips .col-4 .travel-data h2{
    font-size: 18px;
    font-style: italic;
    line-height: 22px;
    text-align: left;
    position: relative;
    color: var(--p-color);
    cursor: pointer;
    font-weight: 400;
    padding: 40px 0 10px 40px;
}
.travel-tips .col-4 .travel-data h2:hover{
    color: var(--primary);
    transition: all 0.3s;
    text-decoration: underline;
}
.travel-tips .col-4 .travel-data h1{
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    letter-spacing: -1px;
    cursor: pointer;
    text-align: left;
    font-family: var(--head-font);
    padding-left: 40px;
}
.travel-tips .col-4 .travel-data h1:hover{
    text-decoration: underline;
}
.travel-tips .col-4 .travel-data p{
    font-size: 18px; 
    padding-left: 40px;
    color: var(--p-color);
    font-family: var(--child-font);
    line-height: 26px;
    position: relative;
    padding-bottom: 20px;
    padding-top: 5px;

}
.travel-tips .col-6 .tips-img h3{
    /* position: absolute; */
    top: 20px;
    left: -20px;
    background-color: var(--white);
    font-family: var(--child-font);
    font-style: italic;
    font-weight: 400;
    color: var(--p-color);
    padding: 5px 25px;
    cursor: pointer;
    font-size: 20px;   
}
.travel-tips .col-4 .main-btn a{
    font-size: 21px;
    font-family: var(--head-font);
    font-weight: 700;
    line-height: 32px;
    margin-left: 4px;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--black);
    margin-left: 50px;
}
.travel-tips .main-btn a:hover{
    color: var(--white);
    transition: all 0.4s;
}
/* ==========================================books================================= */
.books{
    background-image: url("../images/b-3.jpg");
    height: 80vh;
    position: relative;
}
.books .col-4 .book-data img{
   height: 450px;
   max-width: 900vh;
   padding-left: 0px;
}
.books .col-8 h3{
    font-size: 21px;
    font-style: italic;
    line-height: 26px;
    margin-bottom: 5px;
    color: var(--p-color);
    font-weight: 400;
    padding-top: 50px;
    padding-left: 220px;
}
.books .col-8 h4{
    font-size: 42px;
    font-family: var(--head-font);
    font-weight: 700;
    letter-spacing:-1px;
    line-height: 55px;
    padding-left: 220px;
    text-transform: uppercase;
}
.books .col-8 p{
    font-size: 18px;
    font-family: var(--child-font);
    font-weight: 600;
    line-height: 26px;
    color: var(--p-color);
    padding-left: 220px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.books .col-8 label{
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 220px;
    color: var(--p-color);
}
.books .col-8 input{
    font-size: 18px;
    font-style: italic;
    line-height: 28px;
    text-transform: capitalize;
    border: 1px solid var(--white);
    padding: 10px;
    text-align: left;
    margin: 7px;
}
.books .col-8 button{
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    padding: 12px;
    font-family: var(--head-font);
}
.books .col-8 button:hover{
    transition: 0.2s;
    color: var(--primary);

}
/* ======================================thompson=============================== */
.thompson .col-2 .logo-img img{
    cursor: pointer;
    width: 144px;
    height: 77px;
    margin-top: 70px;
}
.thompson .col-6 .footer-data p{
    font-size: 23px;
    font-style: italic;
    line-height: 25px;
    padding-top: 90px;
    color: var(--p-color);
}
/* =======================================about================================== */
.about .col-3 h2{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 70px;
    line-height: 27px;
    position: relative;
    text-align: left;
    font-family: var(--head-font);
    padding-bottom: 10px;
}
.about .col-3 p{
    font-weight: 400;
    line-height: 24px;
    font-family: var(--child-font);
    color: var(--p-color);
    font-size: 18px;
    padding-top: 4px;
    cursor: pointer;    
}
.about .col-3 p:hover{
    transition: all 0.6s;
    color: var(--black);
    text-decoration: underline;
}
.about .col-3 span{
    font-weight: 400;
    line-height: 26px;
    font-family: var(--child-font);
    color: var(--p-color);
    font-size: 20px;
    padding-top: 2px;
    font-style: italic;
    cursor: pointer;
    padding-right: 10px;
}
.about .con-btn{
    text-transform: uppercase;
    font-size: 16px;
    font-family: var(--head-font);
    cursor: pointer;
    padding-left: 10px;
    font-weight: 700;

}
.about .con-btn i:hover{
    transition: all 0.3s;
}
.about input{
    border-right: 1px solid transparent;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.about .insta-img img{
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
}

.about .insta-img{
    display: flex;
    flex-wrap: wrap;
}
.line{
    background-color: rgb(219, 219, 200);
    height: 60px;
}
.row .socialicon a{
    color: var(--p-color);
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}
.row .socialicon{
      margin-top: 20px;
      padding-left: 90px;
}
.row .col p{
    color: var(--p-color);
    font-size: 18px;
    font-family: var(--child-font);
    font-weight: 600;
    line-height: 26px;
    padding-left: 999px;
    margin-top: -20px; 
}
.row .socialicon :first-child{
    font-style: italic;
    font-size: 17px;
    font-weight: 100;
    text-transform: capitalize;
}
.row .col p span{
    cursor: pointer;
}
.row .col p span:hover{
    color: var(--black);
}